#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button {
  border-radius: 8px;
  border: 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 200;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #646cff;
}
